.guess-distribution-header{
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 120%;
  margin: 10px 0px;
}

.guess-distribution-content-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;


  .guess-bar{
    background-color: #aaaaaa;
    color: white;
    padding: 5px 8px;
    min-width: 20px;
  }
}



