.modal {
  padding: 20px 30px;
  position: fixed;
  margin: 0px auto;
  left: 0;
  right: 0;
  top: 15%;
  animation: move 0.15s linear;
  max-width: 400px;

  &.move-out {
    animation: moveOut 0.15s linear;
  }

  border: 1px solid #f6f7f8;
  background-color: #ffffff;
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);

  .modal_header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h1 {
      font-size: 20px;
    }
  }
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes moveOut {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(20%);
    opacity: 0;
  }
}

#statistic_modal_close {
  fill: #4d4d4d;
  margin: 0px auto;
  cursor: pointer;
}
