.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #d3d6da;
  cursor: pointer;

  .title {
    font-size: 1.5em;
    font-weight: 400;
    user-select: none;
  }

  .buttons {
    display: block;
  }
}

#statistics_svg {
  fill: #4d4d4d;
  margin: 0px auto;
  cursor: pointer;
}
