.keyboard_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0px 10px;
  margin: 3px;
  background-color: #d3d6da;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  height: 56px;
  font-family: inherit;
  cursor: pointer;
  min-width: 45px;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.btn svg {
  padding: 0px;
}

.btn[data-status="correct"] {
  background-color: #6aaa64;
  color: white;
}

.btn[data-status="present"] {
  background-color: #c9b458;
  color: white;
}

.btn[data-status="absent"] {
  background-color: #787c7e;
  color: white;
}

@media (max-width: 570px) {
  .btn {
    padding: auto;
    min-width: auto;
  }
}

